node_modules
client/dist/bundle.js
db/config.js
coverage
/db/trip0.csv
/db/trip1.csv
/db/trip2.csv
/db/trip3.csv
/db/trip4.csv
/db/trip5.csv
/db/trip6.csv
/db/trip7.csv
/db/trip8.csv
/db/trip9.csv
/db/package0.csv
/db/package1.csv
/db/package2.csv
/db/package3.csv
/db/package4.csv
/db/package5.csv
/db/package6.csv
/db/package7.csv
/db/package8.csv
/db/package9.csv